.luasnippet-input {
}

.luasnippet-status {
}

.luasnippet-codemirror-noscrollbars .CodeMirror-gutter {
	background: linear-gradient(to right, orange, #eee, #eee);
}

.luasnippet-codemirror-noscrollbars .CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}

.luasnippet {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #ddd;
}

.luasnippet-controls {
	float: right;
	background-color: inherit;
	margin-right: 10px;
}

.luasnippetlist-addbutton {
	margin-left: 10px;
	margin-top: 10px;
}

#popup {
    position: absolute;
    margin: 20px;
    background-color: #eee;
    border-radius: 5px;
    min-width: 100px;
    min-height: 100px;
}

#toolbar {
    position: absolute;
    top: 10px;
    left: 60px;
    border-radius: 5px;
    background-color: #eee;
    padding: 5px;
}

#tooloptions {
    position: absolute;
    top: 80px;
    left: 10px;
    border-radius: 5px;
    background-color: #eee;
    padding: 5px;
    opacity: .9;
}

div.tooltip-inner {
	min-width: 200px;
}
